/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #474747;
    color: black;/*#474747;*/
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

.main-nav {
    list-style: none;
    margin-top: 5vh;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFEEE4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #CE6D39;
}

h1{
    font-weight: 300;
    text-transform: uppercase;

    margin-top: 15vh;
    margin-bottom: 20px;

    color: #FFEEE4;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-weight: 300;
    text-transform: uppercase;

    color: #FFEEE4;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.section-tabs{
    margin-top: 1em;
    padding-right: 1%;
}


.tab-small{
    background-color: #F6B352;
    border-radius: 5px;
    width: 95%;
    margin-left: 4%;

    box-shadow: 0 1px 1px #F6B352;
    height: 35vh;



    position: relative;
}
.tab-small-1,.tab-small-2,.tab-small-3{
    -webkit-transition: transform 0.2s;
    /*transition: transform 0.2s, margin-left 0.2s, z-index 0.2s, width 0.2s, margin-top 0.2s, box-shadow 0.2s,height 0.2s;*/
    transition:1s ease;
}

.tab-small-1:hover {
    transform: scale(1.2);
    z-index: 12;
    margin-left: 10%;
}

.tab-small-2:hover {
    transform: scale(1.2);
    z-index: 12;
}

.tab-small-3:hover {
    transform: scale(1.2);
    z-index: 10;
}

.tab-small ul{
    list-style: none;
    padding-left: 20px;
}

.tab-small div {
    padding: 15px;
    border-bottom: 1px solid #CE6D39;
}

.tab-small ul li {
    padding: 5px 0;
    font-size: 90%;
}

.tab-small div:last-child{
    text-align: center;
}

.tab-small div:first-child{
    text-align: center;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;

    font-size: 110%;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #000000;
    font-size: 140%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/* Main navi */

.btn:link,
.btn:visited,
input[type=submit],
input[type=button]{
    /*display: inline-block;*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active{
    background-color: #CE6D39;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #000000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #CE6D39;
    color: #fff;
}


.m-container{
    background-color: #F6B352;
}

/*
Login Modal
*/

.loginmodelbody label{
    font-weight: 300;
    font-size: 90%;
}
.loginmodelbody .row{
    margin-top: 5px;
}
.loginmodelbody .reqd{
    color: red;
    font-size: 75%;
    margin-left: 5px;
}
.loginmodelbody span{
    font-size: 60%;
}



.loginmodelfoot{
    text-align: left;
    margin-top: 5px;
}

.loginmodelfoot input[type=submit],
.loginmodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.loginmodelfoot input[type=submit]:hover,
.loginmodelfoot input[type=submit]:active,
.loginmodelfoot input[type=button]:hover,
.loginmodelfoot input[type=button]:active{
    background-color: #CE6D39;

}

.loginmodelfoot a:link,
.loginmodelfoot a:visited {
    padding: 8px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    /*border-bottom: 2px solid transparent;*/
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.loginmodelfoot a:hover,
.loginmodelfoot a:active {
    color: #CE6D39;
}

.loginmodelfoot a{
    font-size: 60%;
}

.loginmodelfoot .loginmodelfootlink{
    text-align: right;
}

/*
Register Modal
*/

.registermodelbody label{
    font-weight: 300;
    font-size: 90%;
}
.registermodelbody .row{
    margin-top: 5px;
}
.registermodelbody .reqd{
    color: red;
    font-size: 75%;
    margin-left: 5px;
}
.registermodelbody span{
    font-size: 60%;
}



.registermodelfoot{
    text-align: left;
    margin-top: 5px;
}

.registermodelfoot input[type=submit],
.registermodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.registermodelfoot input[type=submit]:hover,
.registermodelfoot input[type=submit]:active,
.registermodelfoot input[type=button]:hover,
.registermodelfoot input[type=button]:active{
    background-color: #CE6D39;

}


/*
Reset Modal
*/

.resetmodelbody label{
    font-weight: 300;
    font-size: 90%;
}
.resetmodelbody .row{
    margin-top: 5px;
}
.resetmodelbody .reqd{
    color: red;
    font-size: 75%;
    margin-left: 5px;
}
.resetmodelbody span{
    font-size: 60%;
}



.resetmodelfoot{
    text-align: left;
    margin-top: 5px;
}

.resetmodelfoot input[type=submit],
.resetmodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.resetmodelfoot input[type=submit]:hover,
.resetmodelfoot input[type=submit]:active,
.resetmodelfoot input[type=button]:hover,
.resetmodelfoot input[type=button]:active{
    background-color: #CE6D39;

}
