/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    BODY
 */

html,
body {
    background-color: #474747;
    color: black;/*#474747;*/
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*
    HEADER
 */


header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-size: cover;
    background-position: center;
    height: 55vh;
    background-attachment: fixed;
}

/*
    HEADER NAVIGATION
 */

#navbarHeader,#navbarCollapse{
    background-color: #474747;
}

.navbar-brand{
    margin-top: .1vh;
    color: #FFEEE4 !important;
}

.main-nav {
    list-style: none;
    margin-top: 1vh;
    margin-bottom: 1px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFEEE4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: 0.2s;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
    border-bottom: 2px solid #CE6D39;
    background-color: transparent;
    color:#CE6D39;
}

/*
    H1 FONT
 */

h1{
    font-weight: 300;
    text-transform: uppercase;

    margin-top: 8vh;
    margin-bottom: 25px;

    color: #FFEEE4;
    font-size: 90%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    padding:10px;
}

h2{
    font-weight: 300;
    text-transform: uppercase;

    color: #FFEEE4;
    font-size: 70%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-weight: bolder;
    text-transform: uppercase;

    font-size: 80%;
    margin-bottom: 15px;
    word-spacing: 3px;
    letter-spacing: 2px;

}

.hero-text-box>h2{
    padding-top: 30px;
}
@media screen and ( max-height: 667px ){
    .hero-text-box>h2{
        padding-top: 10px;
    }
}
/*
Buttons
*/


.btn:link,
.btn:visited,
input[type=submit],
input[type=button]{
    /*display: inline-block;*/
    /*padding: 10px 30px;*/
    font-weight: bold;
    text-decoration: none;
    /*border-radius: 200px;*/
    background-color:white;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active{
    background-color: #CE6D39;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #000000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #CE6D39;
    color: #fff;
}

/*
    FEATURE SECTION
 */

.section-tabs{
    margin-top: 5px;
    /*padding-right: 1%;*/
}

/*
    FEATURES
 */
.tab-small{
    /*background-color: #F6B352;*/
    background-color: white;
    /*border-radius: 5px;*/
    width: 100%;
    /*margin-left: 2%;*/

    /*box-shadow: 0 1px 1px #F6B352;*/
    height: 40vh;

    position: relative;

    /*-webkit-transition: transform 0.2s;*/
    /*transition: transform 0.2s, margin-left 0.2s, z-index 0.2s, width 0.2s, margin-top 0.2s, box-shadow 0.2s,height 0.2s;*/
    /*transition:1s ease;*/
    margin-bottom: 5px;

}

/*.tab-small:hover {
    transform: scale(1.05);
    z-index: 12;
}*/

.tab-small ul{
    list-style: none;
    padding-left: 10px;
}

.tab-small ul li {
    /*padding: 10px 0;*/
    font-size: 80%;
    letter-spacing: 1px;
}


.tab-small div {
    padding: 5px;
    /*border-bottom: 1px solid #CE6D39;*/
}

.tab-small div:first-child{
    text-align: center;
}

.tab-small div:last-child{
    text-align: center;
}

.tab-small-1 {
    color: white;
    background-image: -webkit-linear-gradient(rgba(100, 100, 100 0.8), rgba(0, 0, 0, 0.8)), url(../../images/vintage-concrete.png);
    background-image: linear-gradient(rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.8)), url(../../images/healthassessment.jpg);
    background-size: cover;
    background-position: center;
    /*height: 40vh;*/
    /*background-attachment: fixed;*/
}

.tab-small-2 {
    color: white;
    background-image: -webkit-linear-gradient(rgba(100, 100, 100 0.8), rgba(0, 0, 0, 0.8)), url(../../images/diet_track.jpg);
    background-image: linear-gradient(rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.8)), url(../../images/diet_track.jpg);
    background-size: cover;
    background-position: center;
    /*height: 40vh;*/
    /*background-attachment: fixed;*/
}
.tab-small-3 {
    color: white;
    background-image: -webkit-linear-gradient(rgba(100, 100, 100 0.8), rgba(0, 0, 0, 0.8)), url(../../images/consult.jpg);
    background-image: linear-gradient(rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.8)), url(../../images/consult.jpg);
    background-size: cover;
    background-position: center;
    /*height: 40vh;*/
    /*background-attachment: fixed;*/
}

.tab-title{
    height: 10vh;
}
.tab-content{
    height: 15vh;
    margin-top: 20px;

}

.tab-content>ul>li{
    /*color: red;*/
    /*margin-top: 20px;*/
    margin-bottom: 5px;
}

.tab-link{
    margin-top: 20px;
}

.tab-small-3 .tab-content{

    padding-right: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: white;
    font-size: 140%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}



/*
MODALS
*/
.m-container{
    background-color: #F6B352;
}

/*
Login Modal
*/

.loginmodelbody{
    font-weight: 300;
    font-size: 80%;
}
.loginmodelbody .row{
    margin-top: 5px;
}
.loginmodelbody .reqd{
    /*color: red;*/
    font-size: 80%;
    margin-left: 5px;
}
.loginmodelbody span{
    font-size: 60%;
}

.loginmodelfoot{
    text-align: left;
    margin-top: 5px;
}

.loginmodelfoot input[type=submit],
.loginmodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.loginmodelfoot input[type=submit]:hover,
.loginmodelfoot input[type=submit]:active,
.loginmodelfoot input[type=button]:hover,
.loginmodelfoot input[type=button]:active{
    background-color: #CE6D39;

}

.loginmodelfoot a:link,
.loginmodelfoot a:visited {
    padding: 8px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    /*border-bottom: 2px solid transparent;*/
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.loginmodelfoot a:hover,
.loginmodelfoot a:active {
    color: #CE6D39;
}

.loginmodelfoot .loginmodelfootlink{
    text-align: right;
    font-size: 80%;
}

.login-lbl{
    font-size: 70%;
}
/*
Register Modal
*/

.registermodelbody{
    font-weight: 300;
    font-size: 80%;
}
.registermodelbody .row{
    margin-top: 5px;
}
.registermodelbody .reqd{
    color: red;
    font-size: 80%;
    margin-left: 5px;
}
.registermodelbody span{
    font-size: 60%;
}

.registermodelfoot{
    text-align: left;
    margin-top: 5px;
}

.registermodelfoot input[type=submit],
.registermodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.registermodelfoot input[type=submit]:hover,
.registermodelfoot input[type=submit]:active,
.registermodelfoot input[type=button]:hover,
.registermodelfoot input[type=button]:active{
    background-color: #CE6D39;

}


/*
Reset Modal
*/

.resetmodelbody{
    font-weight: 300;
    font-size: 80%;
}
.resetmodelbody .row{
    margin-top: 5px;
}
.resetmodelbody .reqd{
    color: red;
    font-size: 80%;
    margin-left: 5px;
}
.resetmodelbody span{
    font-size: 60%;
}

.resetmodelfoot{
    text-align: left;
    margin-top: 5px;
}

.resetmodelfoot input[type=submit],
.resetmodelfoot input[type=button]{
    background-color: #F6B352;
    border: 1px solid #e67e22;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    padding:2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.resetmodelfoot input[type=submit]:hover,
.resetmodelfoot input[type=submit]:active,
.resetmodelfoot input[type=button]:hover,
.resetmodelfoot input[type=button]:active{
    background-color: #CE6D39;

}
