* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background-color: white;
    color: black;/*#474747;*/
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
