<link rel="stylesheet" href="./css/dietmanager.css">

<header>
    <nav>
        <div class="row">
            <ul class="main-nav">
                <li><a href="#/Overview">Home</a></li>
                <li><a href="#/Diet">Manage Diet</a></li>
                <li><a href="#/MessageCenter">Message Center</a></li>
                <li><a href="#/Profile">Profile</a></li>
                <li><a href="" ng-click="dmCtrl.logout()">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>TheApp - Your personal dental health manager</h1>
    </div>
</header>
<section class="section-input">
    <!-- {{dmCtrl.errorMessage.length!==0}}-{{inputDietForm.$submitted}} -->
<!--     <span>Form Submitted! {{inputDietForm.$submitted}}</span><br>
    <span>Form $valid! {{inputDietForm.$valid}}</span><br>
    <span>Form $invalid! {{inputDietForm.$invalid}}</span><br>
    {{dmCtrl.hideForm}} -->
    <div class="row dateselect">
        <div class="col-md-3 cols"></div>
        <div class="col-md-6  cols text-center">
            <p class="input-group">
                <span class="input-group-btn">
                        <button type="button" class="btn" ng-click="dmCtrl.dayminusone()"><i class="glyphicon glyphicon-triangle-left"></i></button>
                </span>
                <input type="text" class="form-control" uib-datepicker-popup="{{dmCtrl.format}}" ng-model="dmCtrl.dateEntryCurr" is-open="dmCtrl.popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="dmCtrl.open1()"/>
                <span class="input-group-btn">
                                    <button type="button" class="btn" ng-click="dmCtrl.dayplusone()"><i class="glyphicon glyphicon-triangle-right"></i></button>
                            </span>
            </p>
        </div>
        <div class="col-md-3  cols"></div>
    </div>

    <div ng-if="dmCtrl.hideForm===false" class="row">
        <div class="col-md-3 cols"></div>
        <div class="col-md-6  cols text-center">
        <button class="btn addfields" ng-click="dmCtrl.addNewChoice()">Add Food</button></div>
        <div class="col-md-3  cols"></div>
    </div>
    <div ng-if="dmCtrl.hideForm===false" class="row">

        <div class="col-md-12 form-col">
            <form id="food-input" name="inputDietForm" novalidate ng-submit="dmCtrl.saveFood()">
                <div class="fcontainer1">
                    <div ng-if="dmCtrl.choices.length!==0" class="row food-row-head food-row">
                        <div class="col-xs-2 col-md-2 food-col-head">
                            <span  class="longlbl">Meal Time*</span>
                            <span  class="shortlbl">Time*</span>
                        </div>
                        <div class="col-xs-2 col-md-3 food-col-head">                            
                            Food*
                        </div>
                        <div class="col-xs-2 col-md-3 food-col-head">
                            <span  class="longlbl">Quantity*</span>
                            <span  class="shortlbl">Qty*</span>
                        </div>
                        <div class="col-xs-3 col-md-2 food-col-head">
                            <span  class="longlbl">Calories*</span>
                            <span  class="shortlbl">Cal*</span>
                        </div>
                        <div class="col-xs-2 col-md-2 food-col-head">Remove Item
                        </div>
                    </div>
                    <div ng-repeat="choice in dmCtrl.choices" class="row food-row-item food-row">
                        <div class="col-xs-2 col-md-2 food-col-item">
                            <select ng-model="choice.timeofday"  name="timeofday" required>
                                <option value="BREAKFAST" ng-selected="choice.timeofday==='BREAKFAST'">BREAKFAST</option>
                                <option value="LUNCH"     ng-selected="choice.timeofday==='LUNCH'">LUNCH</option>
                                <option value="DINNER"    ng-selected="choice.timeofday==='DINNER'">DINNER</option>
                                <option value="SNACKS"    ng-selected="choice.timeofday==='SNACKS'">SNACKS</option>
                            </select>
                            <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.timeofday.$error">
                                <span class="error" ng-message="required">Field is required!</span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-md-3 food-col-item">
                            <div angucomplete-alt
                                 id="food_dropdown"
                                 pause="1000"
                                 selected-object="choice.selectedfood"
                                 remote-api-handler="dmCtrl.getFood"
                                 title-field="food_name"
                                 description-field="description"
                                 minlength="3"
                                 input-class="form-control form-control-small"
                                 match-class="highlight"
                                 field-required="true"
                                 input-name="fautocomplete">
                            </div>
                            <span ng-if="choice.selectedfood!==undefined">{{choice.selectedfood.description}}<!-- -{{choice.selectedfood.originalObject.details.serving_unit}}-{{choice.selectedfood.originalObject.details.serving_qty}}-{{choice.selectedfood.originalObject.details.nf_calories}}--></span>
                            <div ng-if="inputDietForm.$invalid" ng-messages="inputDietForm.fautocomplete.$error">
                                <span class="error" ng-message="pattern">Select an item from the list</span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-md-3 food-col-item">
                            <input type="text" name="selectedfoodqty" ng-model="choice.selectedfoodqty" placeholder="Serving Quantity" ng-pattern="/^\d*\.?\d*$/"/> <span ng-if="choice.selectedfood!==undefined">({{choice.selectedfood.originalObject.details.serving_unit}})</span>
                            <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.selectedfoodqty.$error">
                                <span class="error" ng-message="pattern">Only numbers allowed</span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-2 food-col-item">
                            <input type="text" name="selectedfoodcal" ng-model="choice.selectedfoodcal" placeholder="{{choice.selectedfoodqty!==undefined?(choice.selectedfoodqty/choice.selectedfood.originalObject.details.serving_qty)*choice.selectedfood.originalObject.details.nf_calories:0}}" ng-pattern="/^\d*\.?\d*$/" />
                            <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.selectedfoodcal.$error">
                                <span class="error" ng-message="pattern">Only numbers allowed</span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-md-2 food-col-item">
                            <!--<input type="text" placeholder="Serving Quantity" ng-model="choice.selectedfoodqty"/> (of {{dmCtrl.selectefood.originalObject.details.serving_unit}})-->
                            <button type="button" class="btn btn-default" ng-click="dmCtrl.removeChoice(choice.id)"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </div>

                    <div ng-if="dmCtrl.choices.length!==0" class="row food-row-btn ">
                        <div class="col-xs-2 col-md-3 "></div>
                        <div class="col-xs-8 col-md-6 food-col-btn">
                            <input type="submit" class="btn" ng-disabled="inputDietForm.$invalid" class="form-control" value="Save">
                        </div>
                        <div class="col-xs-2 col-md-3 "></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section ng-if="dmCtrl.hideForm===true" class="section-details">

    <div  class="row detail-summ-row">
        <div class="col-xs-4  col-md-3 detail-summ-col">Date</div><div class="col-md-3 detail-summ-col">{{dmCtrl.userdiet.entrydate | date:'shortDate'}}</div>
    </div>
    <div  class="row detail-summ-row">
        <div class="col-xs-4  col-md-3 detail-summ-col">Calories on the Day</div><div class="col-md-3 detail-summ-col">{{dmCtrl.userdiet.grosscal| number:0}} Cals</div>
    </div>
    <div  class="row detail-tab-head-row" >
        <div class="col-xs-2 col-md-3 detail-tab-head-col">
            Meal Type
        </div>
        <div class="col-xs-2 col-md-3 detail-tab-head-col">
            Food Name
        </div>
        <div class="col-xs-2 col-md-3 detail-tab-head-col">
            Quantity-Unit
        </div>
        <div class="col-xs-2 col-md-2 detail-tab-head-col">
            Calories
        </div>
    </div>
    <div class="row detail-tab-item-row" ng-repeat="item in dmCtrl.userdiet.items">
        <div class="col-xs-2 col-md-3 detail-tab-item-col">{{item.itemcat}}

        </div>
        <div class="col-xs-2 col-md-3 detail-tab-item-col">{{item.itemname}}
        </div>
        <div class="col-xs-2 col-md-3 detail-tab-item-col">
            {{item.serving_qty!==undefined?item.serving_qty+" "+item.serving_unit:""}}
        </div>
        <div class="col-xs-2 col-md-2">
            {{item.numcal| number:0}}
        </div>
    </div>
    <div class="row detail-btn-row">
        <button class="btn" ng-click="dmCtrl.hideForm=false">Enter Again for {{dmCtrl.userdiet.entrydate| date:'shortDate'}}</button>
    </div>

</section>

