<header>
    <nav>
        <div class="row">
            <ul class="main-nav">
                <li><a href="#/Overview">Home</a></li>
                <li><a href="#/HealthAssessment">Health Assessment</a></li>
                <li><a href="#/Diet">Manage Diet</a></li>
                <li><a href="#/MessageCenter">Message Center</a></li>
                <li><a href="#/Profile">Profile</a></li>
                <li><a href="" ng-click="haCtrl.logout()">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>TheApp - Your personal dental health manager</h1>
    </div>
</header>
<section class="section-common">
    {{haCtrl.errorMessage.length!==0}}-{{inputDietForm.$submitted}}
    <div class="row">
        <div class="col-md-6">Choose Date</div>
        <div class="col-md-6">
            <p class="input-group">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="haCtrl.dayminusone()"><i class="glyphicon glyphicon-triangle-left"></i></button>
                            </span>
                <input type="text" class="form-control" uib-datepicker-popup="{{haCtrl.format}}" ng-model="haCtrl.dateEntryCurr" is-open="haCtrl.popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="haCtrl.open1()"/>
                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="haCtrl.dayplusone()"><i class="glyphicon glyphicon-triangle-right"></i></button>
                            </span>
            </p>
        </div>
    </div>
    <div class="row"><button class="addfields" ng-click="haCtrl.addNewChoice()">Add Food</button></div>

    <span>Form Submitted! {{inputDietForm.$submitted}}</span><br>
    <span>Form $valid! {{inputDietForm.$valid}}</span><br>
    <span>Form $invalid! {{inputDietForm.$invalid}}</span><br>


    <form id="form-input" name="inputDietForm" novalidate ng-submit="haCtrl.saveFood()">

        <div ng-if="haCtrl.choices.length!==0" class="row">
            <div class="col-md-3">
                Choose Meal Type*
            </div>
            <div class="col-md-3">
                Enter Food*
            </div>
            <div class="col-md-3">
                Enter Quantity
            </div>
            <div class="col-md-2">
                Calculated Calories/Enter Calories
            </div>
            <div class="col-md-1">
                <!--<input type="text" placeholder="Serving Quantity" ng-model="choice.selectedfoodqty"/> (of {{haCtrl.selectefood.originalObject.details.serving_unit}})-->
                Remove
            </div>
        </div>
        <div class="row" ng-repeat="choice in haCtrl.choices">
            <div class="col-md-3">
                <select ng-model="choice.timeofday"  name="timeofday" required>
                    <option value="BREAKFAST" ng-selected="choice.timeofday==='BREAKFAST'">BREAKFAST</option>
                    <option value="LUNCH"     ng-selected="choice.timeofday==='LUNCH'">LUNCH</option>
                    <option value="DINNER"    ng-selected="choice.timeofday==='DINNER'">DINNER</option>
                    <option value="SNACKS"    ng-selected="choice.timeofday==='SNACKS'">SNACKS</option>
                </select>
                <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.timeofday.$error">
                    <span class="error" ng-message="required">Field is required!</span>
                </div>
            </div>
            <div class="col-md-3">
                <div angucomplete-alt
                     id="food_dropdown"
                     pause="1000"
                     selected-object="choice.selectedfood"
                     remote-api-handler="haCtrl.getFood"
                     title-field="food_name"
                     description-field="description"
                     minlength="3"
                     input-class="form-control form-control-small"
                     match-class="highlight"
                     field-required="true"
                     input-name="fautocomplete">
                </div>
                <span ng-if="choice.selectedfood!==undefined">{{choice.selectedfood.description}}<!-- -{{choice.selectedfood.originalObject.details.serving_unit}}-{{choice.selectedfood.originalObject.details.serving_qty}}-{{choice.selectedfood.originalObject.details.nf_calories}}--></span>
                <div ng-if="inputDietForm.$invalid" ng-messages="inputDietForm.fautocomplete.$error">
                    <span class="error" ng-message="pattern">Select an item from the list</span>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" name="selectedfoodqty" ng-model="choice.selectedfoodqty" placeholder="Serving Quantity" ng-pattern="/^\d*\.?\d*$/"/> <span ng-if="choice.selectedfood!==undefined">({{choice.selectedfood.originalObject.details.serving_unit}})</span>
                <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.selectedfoodqty.$error">
                    <span class="error" ng-message="pattern">Only numbers allowed</span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" name="selectedfoodcal" ng-model="choice.selectedfoodcal" placeholder="{{choice.selectedfoodqty!==undefined?(choice.selectedfoodqty/choice.selectedfood.originalObject.details.serving_qty)*choice.selectedfood.originalObject.details.nf_calories:0}}" ng-pattern="/^\d*\.?\d*$/" />
                <div ng-if="inputDietForm.$submitted" ng-messages="inputDietForm.selectedfoodcal.$error">
                    <span class="error" ng-message="pattern">Only numbers allowed</span>
                </div>
            </div>
            <div class="col-md-1">
                <!--<input type="text" placeholder="Serving Quantity" ng-model="choice.selectedfoodqty"/> (of {{haCtrl.selectefood.originalObject.details.serving_unit}})-->
                <button type="button" class="btn btn-default" ng-click="haCtrl.removeChoice(choice.id)"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>

        <div ng-if="haCtrl.choices.length!==0" class="row">
            <div class="col-sm-12"><input type="submit" ng-disabled="inputDietForm.$invalid" class="form-control" value="Save">
            </div>
        </div>
    </form>
</section>
<section ng-if="haCtrl.userdiet!=undefined" class="section-common">
    <div  class="row">
        <div class="col-md-3">Date</div><div class="col-md-3">{{haCtrl.userdiet.entrydate}}</div>
    </div>
    <div  class="row">
        <div class="col-md-3">Calories on the Day</div><div class="col-md-3">{{haCtrl.userdiet.grosscal}} Cals</div>
    </div>
    <div  class="row" >
        <div class="col-md-3">
            Meal Type
        </div>
        <div class="col-md-3">
            Food Name
        </div>
        <div class="col-md-3">
            Quantity-Unit
        </div>
        <div class="col-md-2">
            Calories
        </div>
    </div>
    <div class="row" ng-repeat="item in haCtrl.userdiet.items">
        <div class="col-md-3">{{item.itemcat}}

        </div>
        <div class="col-md-3">{{item.itemname}}
        </div>
        <div class="col-md-3">
            {{item.serving_qty!==undefined?item.serving_qty+" "+item.serving_unit:""}}
        </div>
        <div class="col-md-2">
            {{item.numcal}}
        </div>
    </div>
</section>