<!--<link rel="stylesheet" href="./css/home.css">-->
<header>
    <nav class="navbar navbar-default navContainer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbarHeader">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a a href="#" class="navbar-brand">HEALTH BASIC</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav main-nav">
                <li><a href="" ng-click="hCtrl.openRegisterModel('overview')">Sign Up</a></li>
                <li><a href="" ng-click="hCtrl.openLoginModal('overview')">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero-text-box">
        <h1>Health-Basics - Your personal dental health manager</h1>
        <h2>Consult a Dentist, Get Dental Visit Alerts and get health information on your screen.</h2>
    </div>

</header>

<section class="section-tabs" id="tabs">
    <div class="row">
        <div class="col-lg-4">
            <div class="tab-small tab-small-1">
                <div class="tab-title">
                    <h3>Assess Your Oral Hygiene</h3>
                </div>
                <!--<div class="tab-image">
                    <img src="./images/healthassessment.jpg" alt="Assess Your Oral Hygiene" class="img-responsive"></img>
                </div>-->
                <div class="tab-content">
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>Take our Oral Hygiene Assessment</li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>Get Recommendations based on you score</li>
                    </ul>
                </div>
                <div class="tab-link">
                    <a href="#" class="btn btn-ghost" ng-click="hCtrl.openLoginModal('overview')">Take Assessment Now!!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tab-small tab-small-2">
                <div class="tab-title">
                    <h3>Track your Diet</h3>
                </div>
               <!-- <div class="tab-image">
                    <img src="./images/diet_track.jpg" alt="Assess Your Oral Hygiene" class="img-responsive"></img>
                </div>-->
                <div class="tab-content">
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>Use our food tracker</li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>See nutrition information for the food you eat</li>
                    </ul>
                </div>
                <div class="tab-link">
                    <a href="#" class="btn btn-ghost" ng-click="hCtrl.openLoginModal('diet')">Track your food.</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tab-small  tab-small-3">
                <div class="tab-title">
                    <h3>Consult with a Provider</h3>
                </div>
                <div class="tab-content">
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>Consult with a Provider on our Panel</li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>Use available group chat to get help.</li>
                    </ul>
                </div>
                <div class="tab-link">
                    <a href="#" class="btn btn-ghost" ng-click="hCtrl.openLoginModal('message')">Consult Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<footer>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="social-links">
                <li><a href="https://github.com/manish237" target="_blank"><i class="ion-social-github"></i></a></li>
                <li><a href="https://plus.google.com/u/0/+manishjaiswal23" target="_blank"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="www.linkedin.com/in/manishjaiswal7" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="mailto:manish23@gmail.com" target="_blank"><i class="ion-ios-email"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
-->
