<div class="m-container">
   <form id="form-input" name="loginForm" novalidate ng-submit="$ctrl.loginSubmit(loginForm)">
        <div class="modal-header loginmodelhead">
            <button type="button" class="close" ng-click="$ctrl.cancel()">x</button>
            <h3 class="modal-title" id="modal-title">Login</h3><a href="#" data-toggle="tooltip" data-placement="right" title="TestUser-consumer1@gmail.com<br>TestPassword-11111111"><i class="glyphicon glyphicon-info-sign"></i></a>

            <!-- <span>Form Submitted! {{loginForm.$submitted}}</span><br>
            <span>Form $valid! {{loginForm.$valid}}</span><br>
            <span>Form $invalid! {{loginForm.$invalid}}</span><br>
            <span>Error username! {{loginForm.username.$error}}</span><br>
            <span>Error username2! {{loginForm.username.$dirty}}</span><br>
            <span>Error password! {{loginForm.password.$error}}</span><br>
            <span>Error password! {{$ctrl.errorMessage}}</span><br> -->
        </div>
        <div class="modal-body loginmodelbody" id="modal-body">
            <span ng-if="$ctrl.errorMessage!==undefined && $ctrl.errorMessage.length!==0">{{$ctrl.errorMessage}}</span>

            <div class="row fields" id="md-form-row">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4"><label>Username<span class="reqd"><sup>*</sup></span></label></div>
                        <div class="col-md-4">
                            <input type="email" class="form-control" ng-model="$ctrl.loginUname" id="username" name="username" required
                                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                   ng-minlength="5">
                            <div ng-if="loginForm.$submitted" ng-messages="loginForm.username.$error">
                                <span class="error" ng-message="required">Username is required!</span>
                                <span class="error" ng-message="pattern">Please enter valid email address</span>
                                <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4"><label for="password">Password<span class="reqd"><sup>*</sup></span></label></div>
                        <div class="col-md-4">
                            <input type="password" class="form-control" ng-model="$ctrl.loginPwd" id="password" name="password" required
                                   ng-minlength="6">
                            <div ng-if="loginForm.$submitted" ng-messages="loginForm.password.$error">
                                <span class="error" ng-message="required">Field is required!</span>
                                <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
            </div>
        </div>
        <div class="modal-footer loginmodelfoot">
            <div class="row">
                <div class="col-md-6"><input type="submit" class="btn btn-ghost btn-login-submit form-control" value="Login"></div>
                <div class="col-md-6"><input type="button" class="btn btn-ghost btn-login-cancel form-control" ng-click="$ctrl.cancel()" value="Cancel"></div>
            </div>
            <div class="row loginmodelfootlink">
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <a href="#" ng-click="$ctrl.registration()">Register</a>
                </div>
                <div class="col-md-3">
                    <a href="#" ng-click="$ctrl.reset()">Forgot Password</a>
                </div>
            </div>
        </div>
    </form>
</div>