<!--<link rel="stylesheet" href="./css/mcenter.css">-->

<header>
    <nav class="navbar navbar-default navContainer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbarHeader">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav main-nav">
               <li><a href="#/Overview" ng-class="{active:oCtrl.overview}">Home</a></li>
                <li><a ng-if="mcCtrl.data.usertype==='CONSUMER'" href="#/Diet" ng-class="{active:dmCtrl.diet}">Manage Diet</a></li>
                <li><a href="#/MessageCenter" ng-class="{active:mcCtrl.mcenter}">Message Center</a></li>
                <li><a href="#/Profile" ng-class="{active:pCtrl.profile}">Profile</a></li>
                <li><a href="" ng-click="mcCtrl.logout()">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Health-Basics - Your personal dental health manager</h1>
    </div>
</header>

<section class="section-messages">
    <div ng-if="mcCtrl.formmessages.length!==0"  class="row message-list-title">
        <div class="col-md-4"></div>
        <div class="col-md-4 list-title"><h3>Message History</h3></div>
        <div class="col-md-4"></div>
    </div>

    <div ng-if="mcCtrl.formmessages.length!==0"  class="row message-list-row">
        <div class="col-sm-12 data-col">
            <div class="row data-tab row-eq-height">
                <div class="col-md-3 col-xs-3  data-tab-head-col">Date</div>
                <div class="col-md-3 col-xs-3  data-tab-head-col">Message From</div>
                <div class="col-md-3 col-xs-3  data-tab-head-col">Message To</div>
                <div class="col-md-3 col-xs-3  data-tab-head-col">Message</div>
            </div>
            <div ng-if="mcCtrl.data.usertype==='CONSUMER'" class="row data-tab-item row-eq-height" ng-repeat="message in mcCtrl.formmessages">
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.datecreated | date:'shortDate'}}</div>
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.fromusername.common.name!==undefined?message.fromusername.common.name:"-"}}</div>
                <div class="col-md-3 col-xs-3  data-tab-item-col"><a href="" ng-click="mcCtrl.openProviderDetails(message.tousername)">{{message.tousername.common.name!==undefined?message.tousername.common.name:""}}</a></div>
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.message}}</div>
            </div>
            <div ng-if="mcCtrl.data.usertype==='PROVIDER'" class="row data-tab-item row-eq-height" ng-repeat="message in mcCtrl.formmessages">
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.datecreated | date:'shortDate'}}</div>
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.fromusername!==undefined?message.fromusername:"-"}}</div>
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.tousername!==undefined?message.tousername:""}}</div>
                <div class="col-md-3 col-xs-3  data-tab-item-col">{{message.message}}</div>
            </div>
        </div>
    </div>
</section>
<section class="section-send-message">
    <div class="row form-common-row form-row">
<!--         <span>Form Submitted! {{inputMsgForm.$submitted}}</span><br>
           <span>Form $valid! {{inputMsgForm.$valid}}</span><br>
           <span>Form $invalid! {{inputMsgForm.$invalid}}</span><br>
           <span>Error username! {{inputMsgForm.tousername.$error}}</span><br>
           <span>Error password! {{inputMsgForm.formmessage.$error}}</span><br>-->
        <div ng-if="mcCtrl.data.usertype==='CONSUMER' && mcCtrl.providers.length!==0" class="col-md-12 form-col">
            <form id="form-input" name="inputMsgForm" novalidate ng-submit="mcCtrl.submitSendMessage(inputMsgForm)">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 form-title"><h3>Send Message to a Provider</h3></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row row-field">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-xs-4  col-head">Provider</div>
                    <div class="col-md-4 col-xs-8  col-field">
                        <select ng-model="mcCtrl.tousername" id="tousername" name="tousername" ng-change="mcCtrl.getdetails(mcCtrl.tousername)" required>
                            <option ng-repeat="provider in mcCtrl.providers" value="{{provider.common.username}}">
                                {{provider.common.name}}
                            </option>
                        </select>
                        <div ng-if="inputMsgForm.$submitted" ng-messages="inputMsgForm.tousername.$error">
                            <span class="error" ng-message="required">Select a Provider</span>
                        </div>
                        <div ng-if="mcCtrl.showdetails===true && mcCtrl.pDetails.providerdata.expertise!==undefined">
                            Expertise : {{mcCtrl.pDetails.providerdata.expertise}}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-field">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-xs-4  col-head">Message</div>
                    <div class="col-md-4 col-xs-8 col-field">
                        <textarea class="form-control" ng-model="mcCtrl.formmessage" id="formmessage" name="formmessage" required></textarea>
                        <div ng-if="inputMsgForm.$submitted" ng-messages="inputMsgForm.formmessage.$error">
                            <span class="error" ng-message="required">Message is Required</span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row  row-btn">
                    <div class="col-sm-12 col-btn"><input type="submit" class="btn form-control" value="Submit" id="btn-submit">
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="mcCtrl.providers.length===0" class="col-md-12 no-provider-col">
            No Providers Registered
        </div>

    </div>
</section>
<section class="section-group-chat">
    <div ng-if="mcCtrl.enableChatWindow===false" class="row">
        <form name="inputForm" novalidate ng-submit="mcCtrl.connectToChat()">
            <div class="row join-chat-btn-row">
                <div class="col-sm-12">
                    <input type="submit" class="btn form-control" value="Join Group Chat">
                </div>
            </div>
        </form>
    </div>
    <div ng-if="mcCtrl.showCreateChatHandle===true" class="row create-chat-uname-row">
        <div class="col-md-12">Chat Handle not created. <a href="#/Profile">Create Here</a></div>
    </div>
    <div ng-if="mcCtrl.enableChatWindow===true" class="row form-group-chat row-eq-height">
        <div class="col-md-8 col-xs-8 message-log">
            <div class="row">
                <h3>Message Log</h3>
                <div class="col-md-12">
                    <p ng-repeat="message in mcCtrl.messages" ng-class="{alert: message.user == &quot;chatroom&quot;}">
                        <span class="msg-chat-handle">{{message.user}}:</span>
                        <span class="msg-msg">{{message.text}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 message-user-list">
            <h3>Online Users</h3>
            <div class="overflowable message-users">
                <p ng-repeat="user in mcCtrl.users">
                    <b ng-if="user===mcCtrl.data.data.commondata.chathandle">{{user}}</b>
                    <span ng-if="user!==mcCtrl.data.data.commondata.chathandle">{{user}}</span>
                </p>
            </div>
        </div>
    </div>
    <div ng-if="mcCtrl.enableChatWindow===true" class="row form-send-message row-eq-height">
        <div class="col-md-8 col-xs-8 message-form">
            <form ng-submit="mcCtrl.sendChatMessage()" name="msgForm">
                <div ng-if="mcCtrl.typing===true"><span>someone is typing...</span></div>
                <div class="col-md-2 col-xs-3 send-msg-label">Message</div>
                <div class="col-md-4 col-xs-5 send-msg-input"><input type="text" ng-model="mcCtrl.message" ng-keypress="mcCtrl.notifyTyping()"/></div>
                <div class="col-md-2 col-xs-3 send-msg-btn">
                    <input ng-disabled="(mcCtrl.message===undefined) || (mcCtrl.message!==undefined && mcCtrl.message.length===0)" type="submit" class="btn" value="Send"/>
                </div>
               <!-- {{mcCtrl.message}}-{{mcCtrl.message.length}}-{{mcCtrl.message===undefined}}-{{mcCtrl.message.length===0}}
                -{{(mcCtrl.message===undefined) || (mcCtrl.message!==undefined && mcCtrl.message.length===0)}}-->
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>