<div class="m-container">
    <form id="form-input" name="registerForm" novalidate ng-submit="$ctrl.registerSubmit(registerForm)">
        <div class="modal-header registermodelhead">
            <button type="button" class="close" ng-click="$ctrl.cancel()">x</button>
            <h3 class="modal-title" id="modal-title">Sign Up</h3>
<!--            <span>Form Submitted! {{registerForm.$submitted}}</span><br>
            <span>Form $valid! {{registerForm.$valid}}</span><br>
            <span>Form $invalid! {{registerForm.$invalid}}</span><br>
            <span>Error username! {{registerForm.username.$error}}</span><br>
            <span>Error username2! {{registerForm.username.$dirty}}</span><br>
            <span>Error password! {{registerForm.password.$error}}</span><br>
            <span>Error cpassword! {{registerForm.cpassword.$error}}</span><br>
            <span>Error cpassword! {{$ctrl.match}}</span><br>
            <span>Error errorMessage! {{$ctrl.errorMessage}}</span><br>-->
        </div>
        <div class="modal-body registermodelbody" id="modal-body">
            <div class="row fields" id="md-form-row">
                <div class="row">
                    <div class="col-md-2 col-xs-2"></div>
                    <div class="col-md-4 col-xs-4">Email<span class="reqd"><sup>*</sup></span></div>
                    <div class="col-md-4 col-xs-4">
                        <input type="email" class="form-control" ng-model="$ctrl.uname" id="username" name="username" required
                               username-validator
                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                               ng-minlength="5"
                               ng-model-options="{ debounce: 100 }">
                        <div ng-if="registerForm.$submitted" ng-messages="registerForm.username.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="pattern">Please enter valid email address</span>
                            <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                            <span class="error" ng-message="uniqueUsername">Username already taken!!</span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-2"></div>
                    <div class="col-md-4 col-xs-4">Password<span class="reqd"><sup>*</sup></span></div>
                    <div class="col-md-4 col-xs-4">
                        <input type="password" class="form-control" ng-model="$ctrl.pwd" id="password" name="password" required
                               ng-minlength="6">
                        <div ng-if="registerForm.$submitted" ng-messages="registerForm.username.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2"></div>
                    <div class="col-md-4 col-xs-4">Confirm Password<span class="reqd"><sup>*</sup></span></div>
                    <div class="col-md-4 col-xs-4">
                        <input type="password" class="form-control" ng-model="$ctrl.cpwd" id="cpassword" name="cpassword" required
                               ng-minlength="6"
                               password-matcher="{{$ctrl.pwd}}"
                        >

                        <div ng-if="registerForm.$submitted" ng-messages="registerForm.cpassword.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                            <span class="error" ng-message="matcher">Confirm Password should be same as old Password.</span>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2"></div>
                    <div class="col-md-4 col-xs-4">Name<span class="reqd"><sup>*</sup></span></div>
                    <div class="col-md-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="$ctrl.name" id="name" name="name" required
                               ng-minlength="6" ng-pattern="/^[a-zA-Z ]*$/">

                        <div ng-if="registerForm.$submitted" ng-messages="registerForm.name.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Minimum 5 characters expected</span>
                            <span class="error" ng-message="pattern">Numbers not allowed</span>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2"></div>
                    <div class="col-md-4 col-xs-4">Medical Provider<span class="reqd"><sup>*</sup></span></div>
                    <div class="col-md-4 col-xs-4">
                        <select ng-model="$ctrl.utype" id="utype" required name="utype">
                            <option value = "CONSUMER" selected>No</option>
                            <option value = "PROVIDER">Yes</option>
                        </select>
                        <div ng-if="registerForm.$submitted" ng-messages="registerForm.genderOptions.$error" >
                            <span class="error" ng-message="required">Field is required!</span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer registermodelfoot">
            <div class="row">
                <div class="col-md-6 col-xs-6"><input type="submit" class="btn btn-ghost btn-register-submit form-control" value="Register"></div>
                <div class="col-md-6 col-xs-6"><input type="button" class="btn btn-ghost btn-register-cancel form-control" ng-click="$ctrl.cancel()" value="Cancel"></div>
            </div>
        </div>
    </form>
</div>