/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    BODY
 */

html,
body {
    background-color: #474747;
    color: black;/*#474747;*/
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*
    HEADER
 */


header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/vintage-concrete.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

/*
    HEADER NAVIGATION
 */

#navbarHeader,#navbarCollapse{
    background-color: #474747;
}

.main-nav {
    list-style: none;
    margin-top: 2vh;
    margin-bottom: 10px;
}

.main-nav li {
    display: inline-block;
    margin-left: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFEEE4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: 0.2s;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
    border-bottom: 2px solid #CE6D39;
    background-color: transparent;
    color:#CE6D39;
}

/*
    H1 FONT
 */

h1{
    font-weight: 300;
    text-transform: uppercase;

    margin-top: 15vh;
    margin-bottom: 20px;

    color: #FFEEE4;
    font-size: 120%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-weight: 300;
    text-transform: uppercase;

    color: #CE6D39;
    font-size: 80%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


/*
Buttons
*/


/*.btn:link,
.btn:visited,
input[type=submit],
input[type=button]{
    !*display: inline-block;*!
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active{
    background-color: #CE6D39;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #000000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #CE6D39;
    color: #fff;
}*/

/*
    INFO SECTION
 */
.section-tabs{
    margin:0px;
    margin-top:1px;
    /*margin-top: .5%;*/
    /*    padding-left: 2%;
        padding-right: 2%;*/
    width: 100%;
}

.summary-row{
    background-color: #FFEEE4;
    height: 20vh;
}

.img-container,.gg-container,.ln-container,.info-container{
    height: 100%;
    line-height: 15vh;
    text-align: center;
}


img {
    height: 10vh;
    width: 10vh;
    border-radius: 60%;
    vertical-align: middle;
    margin-left: 10px;
}

.row-1{
    height: 75%;
    padding-top:2px;
}
.row-2{
    height: 25%;
    margin-top: -10px;
}

.row-2 h5{
    font-size: 70%;
}
.gauge {
    height: 100%;
    width: 100%;
    /*vertical-align: middle;*/

}

.info-container .uname {
    margin-top:-10px;

}

.row-2 a:link,
.row-2 a:visited {
    padding: 4px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: color 0.2s;
}

.row-2 a:hover,
.row-2 a:active {
    color: #CE6D39;
    /*border-bottom: 2px solid #CE6D39;*/
}

/*
MODAL DIALOG
 */

md-toolbar h2{
    color:#ffffff;
}

md-toolbar .md-toolbar-tools{
    background-color: #CE6D39 ;
}

.md-padding h5{
    font-weight: 400;
    text-transform: uppercase;

    /*color: #CE6D39;*/
    font-size: 90%;
}

.md-accent{
    color: #ffffff !important;
}

.md-accent.white-text{
    background-color: #CE6D39 !important;
    /*color: #fff;*/
}

md-radio-button{
    font-weight: 400;
    /*text-transform: uppercase;*/

    /*color: #CE6D39;*/
    /*font-size: 80%;*/
}
/*
Feed Section
 */
.section-feeds{
    background-color: #F6B352;
    margin-top:5px;
    padding: 10px;
}

.feed-sec-title h3{
    font-weight: 300;
    text-transform: uppercase;

    color: #474747;
    font-size: 120%;
    padding-bottom: 5px;
    text-decoration: underline;

}

.feed-title h4{
    font-weight: 400;
    font-size: 100%;
    color: black;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.feed-desc{
    font-weight: 300;
    font-size: 70%;
}

.feed-desc p:last-child{
    display: none;
}
.feed-desc img  {
    display: none;
}

.feed-desc .more-link:link,
.feed-desc .more-link:visited{
    font-weight: bolder;
}

.item-row{
    border-bottom: 2px solid black;
}

.section-feeds a:link,
.section-feeds a:visited {
    padding: 8px 0;
    color: #FFEEE4;
    text-decoration: none;
    text-transform: uppercase;
    /*font-size: 80%;*/
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.section-feeds a:hover,
.section-feeds a:active {
    color: #CE6D39;
}


